In [5]:
import pandas as pd

In [6]:
file_path = "iris.csv"
iris_df = pd.read_csv(file_path)
iris_df.head()

                                                          iris
sepal_length sepal_width petal_length petal_width        class
5.1          3.5         1.4          0.2          Iris-setosa
4.9          3.0         1.4          0.2          Iris-setosa
4.7          3.2         1.3          0.2          Iris-setosa
4.6          3.1         1.5          0.2          Iris-setosa

In [11]:
new_iris_df = iris_df.drop(['class'], axis=1) 
new_iris_df.head()

KeyError: "['class'] not found in axis"

In [12]:
# Data loading
file_path = "shopping_data.csv"
df_shopping = pd.read_csv(file_path, encoding="ISO-8859-1")
df_shopping.head(5)

   CustomerID Card Member   Age  Annual Income  Spending Score (1-100)
0           1         Yes  19.0          15000                    39.0
1           2         Yes  21.0          15000                    81.0
2           3          No  20.0          16000                     6.0
3           4          No  23.0          16000                    77.0
4           5          No  31.0          17000                    40.0

In [13]:
# Columns
df_shopping.columns

Index(['CustomerID', 'Card Member', 'Age', 'Annual Income',
       'Spending Score (1-100)'],
      dtype='object')

In [29]:
# List dataframe data types
df_shopping.dtypes

CustomerID                  int64
Card Member                object
Age                       float64
Annual Income               int64
Spending Score (1-100)    float64
dtype: object

In [30]:
# Find null values 
for column in df_shopping.columns:
    print(f"Column {column} has {df_shopping[column].isnull().sum()}
null values")

SyntaxError: EOL while scanning string literal (23535999.py, line 3)

In [31]:
# Find duplicate entries 
print(f"Duplicate entries: {df.shopping.duplicated().sum()}")

NameError: name 'df' is not defined

In [33]:
# Transform String column
def change_string(member):
    if member == "Yes":
        return 1
    else:
        return 0
df_shopping["Card Member"] = df_shopping["Card Member"].apply(change_string)
df_shopping.head()

   CustomerID  Card Member   Age  Annual Income  Spending Score (1-100)
0           1            1  19.0          15000                    39.0
1           2            1  21.0          15000                    81.0
2           3            0  20.0          16000                     6.0
3           4            0  23.0          16000                    77.0
4           5            0  31.0          17000                    40.0

In [34]:
# Transform annual income
df_shopping["Annual Income"] = df_shopping["Annual Income"] / 1000
df_shopping.head()

   CustomerID  Card Member   Age  Annual Income  Spending Score (1-100)
0           1            1  19.0           15.0                    39.0
1           2            1  21.0           15.0                    81.0
2           3            0  20.0           16.0                     6.0
3           4            0  23.0           16.0                    77.0
4           5            0  31.0           17.0                    40.0

In [36]:
# Saving cleaned data
file_path = "shopping_data_cleaned.csv"
df_shopping.to_csv(file_path, index=False)

In [39]:
import pandas as pd
import plotly.express as px
import hvplot.pandas
from sklearn.cluster import KMeans

ModuleNotFoundError: No module named 'hvplot'